html, body, div, p, canvas { margin:0; padding:0;}
html, body, div {
	pointer-events: none; user-select: none; touch-action: manipulation;
	-webkit-touch-callout:none; -webkit-user-select:none; overscroll-behavior: none;
}
html, body {
	height: 100%;
	overflow: hidden; 
	background:#000;
}
body {
	display: flex;
	justify-content: center;
	align-items: center;
}
canvas {
	display: block;	
	image-rendering: pixelated;
	margin-top: -100px;
}
#debugdom { position: absolute; left:0; top:0; z-index: 999;}